<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="css/tables.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="dist/simplepicker.css">
<script src="js/tables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Icons font CSS-->
<link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<!-- Vendor CSS-->
<link href="vendor/select2/select22.min.css" rel="stylesheet" media="all">
<link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="css/main1.css" rel="stylesheet" media="all">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
           title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <h4 th:text="${username}"></h4>
        <p class="w3-text-grey">Welcome back!</p>
    </div>
    <div class="w3-bar-block">
        <a href="/app/index#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i
                class="fa fa-th-large fa-fw w3-margin-right"></i>View accounts</a>
        <a href="/app/index#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-user fa-fw w3-margin-right"></i>Add account</a>
        <a href="/app/index#pay" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-envelope fa-fw w3-margin-right"></i>Pay bills</a>
        <a href="/app/login" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-user fa-fw w3-margin-right"></i>Logout</a>
    </div>
    <div class="w3-panel w3-large">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="portfolio">
        <div class="w3-container w3-padding-large" style="margin-bottom:32px" th:object="${bankAccount}">
            <h4><b>Your account details:</b></h4>
            <table class="w3-table-all w3-large">
                <tr>
                    <th>Iban</th>
                    <th>Date of creation</th>
                    <th>Last modified</th>
                    <th>
                        <span th:if="${bankAccount?.type == 'Spending'}">Poundage</span>
                        <span th:if="${bankAccount?.type == 'Saving'}">Interest Rate</span>
                    </th>
                    <th>Type</th>
                    <th>Sold</th>
                    <th>Currency</th>
                </tr>
                <tr>
                    <td><a><span th:text="${bankAccount?.iban}"> Iban </span></a></td>
                    <td><span th:text="${bankAccount?.creation_date}"> Date of creation </span></td>
                    <td><span th:text="${bankAccount?.last_modified}"> Last modified </span></td>
                    <td>
                        <span th:if="${bankAccount?.type == 'Spending'}"
                              th:text="${spendingAccount}">Poundage</span>
                        <span th:if="${bankAccount?.type == 'Saving'}"
                              th:text="${savingAccount}">Interest Rate</span>
                    </td>
                    <td><span th:text="${bankAccount?.type}"> Type </span></td>
                    <td><span th:text="${bankAccount?.sold}"> Sold </span></td>
                    <td><span th:text="${bankAccount?.currency}"> Currency </span></td>
                </tr>
            </table>
        </div>
    </header>

    <header id="about">
        <div class="w3-container w3-padding-large">
            <h4><b>Deposit money:</b></h4>
        </div>

        <div class="w3-container w3-padding-large">
            <form name="myForm" id="register-form" role="form" onsubmit="return checkInp()" autocomplete="off"
                  class="form" method="post"
                  th:object="${depositForm}"
            >
                <div>

                    <span th:if="${bankAccount?.type == 'Spending'}">
                    <label>
                    <span th:field="*{period}" th:value="2"></span>
                    <p>
                        <label>Deposit amount:</label>
                        <input align="right" class="w3-input w3-border w3-round" type="text" th:field="*{value}"
                               name="value"
                               placeholder="Enter the amount you want to deposit into the spending account">
                        <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Amount Error</span>
                    </p>
                </label>
            </span>
                    <span th:if="${bankAccount?.type == 'Saving'}">
                <label>
                    <p>
                        <label>Deposit amount:</label>
                        <input align="right" class="w3-input w3-border w3-round" type="text" th:field="*{value}"
                               name="value"
                               placeholder="Enter the amount you want to deposit into the savings account">
                        <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Amount Error</span>

                    </p>
                    <p>
                        <label>Time period of the deposit:</label>
                        <input align="right" class="w3-input w3-border w3-round" type="text" th:field="*{period}"
                               name="period"
                               placeholder="Enter the period for which you want to deposit the money">
                        <span th:if="${#fields.hasErrors('period')}" th:errors="*{period}">Period Error</span>
                    </p>
                </label>
            </span>
                </div>

                <div class="container-login100-form-btn">
                    <p>
                        <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
                            Make deposit!
                        </button>
                    </p>
                </div>
            </form>

            <div class="w3-light-grey w3-padding-24">
                <a href="/app/view-transactions" class="button">
                    Take a closer look to your past transactions
                </a></div>

        </div>
    </header>


    <!-- End page content -->
</div>
<script src="vendor/jquery/jquery.min.js"></script>


<script src="vendor/select2/select22.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>

</body>
</html>
