<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="css/tables.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/tables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
           title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <h4 th:text="${username}"></h4>
        <p class="w3-text-grey">Welcome back!</p>
    </div>
    <div class="w3-bar-block">
        <a href="/app/index#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i
                class="fa fa-th-large fa-fw w3-margin-right"></i>View accounts</a>
        <a href="/app/index#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-user fa-fw w3-margin-right"></i>Add account</a>
        <a href="/app/index#pay" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-envelope fa-fw w3-margin-right"></i>Pay bills</a>
        <a href="/app/login" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-user fa-fw w3-margin-right"></i>Logout</a>
    </div>
    <div class="w3-panel w3-large">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <div id="about">
        <div class="w3-container w3-padding-large">
            <h4><b>Pay this bill:</b></h4>
        </div>


        <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <table class="w3-table-all w3-large">
                <tr>
                    <th>Recipient</th>
                    <th>Description</th>
                    <th>Value*</th>
                    <th>Required currency</th>
                </tr>
                <tr>
                    <td><a><span th:text="${bill?.recipient}"> Recipient </span></a></td>
                    <td><span th:text="${bill?.description}"> Description </span></td>
                    <td><span th:text="${bill?.value}"> Bill value* </span></td>
                    <td><span th:text="${bill?.accepted_currency}"> Required currency </span></td>
                </tr>
            </table>

            <form class="login100-form validate-form"
                  th:object="${payBillsForm}"
                  method="POST">
                <p>Select the account from which you wish to pay:</p>
                <div>
                    <select th:field="*{iban}">
                        <option th:each="bankAcc : ${savingAccounts}" th:value="${bankAcc.iban}" th:if="${bankAcc.currency == bill.accepted_currency && bankAcc.sold &gt; bill.value}"
                                th:text="${bankAcc.iban + ' - ' + bankAcc.sold + ' ' + bankAcc.currency }">
                        </option>
                        <option th:each="bankAcc : ${savingAccounts}" th:value="${bankAcc.iban}" th:if="${bankAcc.currency != bill.accepted_currency && bankAcc.sold &gt; (bill.value*exchangeRates.computeExchangeRates(bankAcc.currency, bill.accepted_currency))}"
                                th:text="${bankAcc.iban + ' - ' + bankAcc.sold + ' ' + bankAcc.currency }">
                        </option>
                        <option th:each="bankAcc : ${spendingAccounts}" th:value="${bankAcc.iban}" th:if="${bankAcc.currency == bill.accepted_currency && bankAcc.sold + 2000 &gt; bill.value + bill.value * bankAcc.poundage}"
                                th:text="${bankAcc.iban + ' - ' + bankAcc.sold + ' ' + bankAcc.currency }">
                        </option>
                        <option th:each="bankAcc : ${spendingAccounts}" th:value="${bankAcc.iban}" th:if="${bankAcc.currency != bill.accepted_currency && bankAcc.sold + 2000 &gt; (bill.value*exchangeRates.computeExchangeRates(bankAcc.currency, bill.accepted_currency) + bill.value * bankAcc.poundage *exchangeRates.computeExchangeRates(bankAcc.currency, bill.accepted_currency))}"
                                th:text="${bankAcc.iban + ' - ' + bankAcc.sold + ' ' + bankAcc.currency }">
                        </option>
                        <option th:each="bankAcc : ${savingAccounts}" th:value="${bankAcc.iban}" th:if="${bankAcc.currency == bill.accepted_currency && bankAcc.sold &lt; bill.value}"
                                th:text="${bankAcc.iban + ' - ' + bankAcc.sold + ' ' + bankAcc.currency }" th:disabled="disabled">
                        </option>
                        <option th:each="bankAcc : ${savingAccounts}" th:value="${bankAcc.iban}" th:if="${bankAcc.currency != bill.accepted_currency && bankAcc.sold &lt; (bill.value*exchangeRates.computeExchangeRates(bankAcc.currency, bill.accepted_currency))}"
                                th:text="${bankAcc.iban + ' - ' + bankAcc.sold + ' ' + bankAcc.currency }" th:disabled="disabled">
                        </option>
                        <option th:each="bankAcc : ${spendingAccounts}" th:value="${bankAcc.iban}" th:if="${bankAcc.currency == bill.accepted_currency && bankAcc.sold + 2000 &lt; bill.value + bill.value * bankAcc.poundage}"
                                th:text="${bankAcc.iban + ' - ' + bankAcc.sold + ' ' + bankAcc.currency }" th:disabled="disabled">
                        </option>
                        <option th:each="bankAcc : ${spendingAccounts}" th:value="${bankAcc.iban}" th:if="${bankAcc.currency != bill.accepted_currency && bankAcc.sold + 2000 &lt; (bill.value*exchangeRates.computeExchangeRates(bankAcc.currency, bill.accepted_currency) + bill.value * bankAcc.poundage *exchangeRates.computeExchangeRates(bankAcc.currency, bill.accepted_currency))}"
                                th:text="${bankAcc.iban + ' - ' + bankAcc.sold + ' ' + bankAcc.currency }" th:disabled="disabled">
                        </option>
                    </select>
                </div>
                <p>
                    <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
                        <i class="fa fa-download w3-margin-right"></i>Pay the bill!
                    </button>
                </p>
                <hr>
            </form>
        </div>

        <!-- End page content -->
    </div>

    <footer>
        <p class="w3-container w3-padding-large" style="margin-bottom:32px"><b>*</b> - the amount of money that will be withdrawn from your account is equal to the value of the bill only if the account has the same currency as the bill requires. Otherwise, comissions apply.</p>
    </footer>

    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>

</body>
</html>
