<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/tables.css"/>
<link rel="stylesheet" type="text/css" href="css/my-date.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/tables.js"></script>
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
           title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <h4 th:text="${username}"></h4>
        <p class="w3-text-grey">Welcome back!</p>
    </div>
    <div class="w3-bar-block">
        <a href="/app/admin#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i
                class="fa fa-th-large fa-fw w3-margin-right"></i>View users</a>
        <a href="/app/admin#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-user fa-fw w3-margin-right"></i>View companies</a>
        <a href="/app/admin#pay" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-envelope fa-fw w3-margin-right"></i>Add company</a>
        <a href="/app/login" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-user fa-fw w3-margin-right"></i>Logout</a>
    </div>
    <div class="w3-panel w3-large">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
    <div class="w3-container w3-padding-large" style="margin-bottom:32px">
        <h2><b>All user accounts:</b></h2>
        <table class="w3-table-all w3-large">
            <tr th:if="${bankAccounts.size() == 0}">
                <td colspan="2"> No bank accounts available for this user</td>
            </tr>
            <tr th:if="${bankAccounts != null and bankAccounts.size()>0}">
                <th>Iban</th>
                <th>Date of creation</th>
                <th>Last modified</th>
                <th>Type</th>
                <th>Sold</th>
                <th>Currency</th>
            </tr>
            <tr th:if="${bankAccounts != null and bankAccounts.size()>0}"
                th:each="bankAccount : ${bankAccounts}">
                <td><a><span th:text="${bankAccount?.iban}"> Iban </span></a></td>
                <td><span th:text="${bankAccount?.creation_date}"> Date of creation </span></td>
                <td><span th:text="${bankAccount?.last_modified}"> Last modified </span></td>
                <td><span th:text="${bankAccount?.type}"> Type </span></td>
                <td><span th:text="${bankAccount?.sold}"> Sold </span></td>
                <td><span th:text="${bankAccount?.currency}"> Currency </span></td>
            </tr>
        </table>
    </div>
    <br><br>
    <div class="w3-container w3-padding-large" style="margin-bottom:32px">
        <h2><b>All user bills:</b></h2>
        <table class="w3-table-all w3-large">
            <tr th:if="${bills.empty}">
                <td colspan="2"> No Bills Available</td>
            </tr>
            <tr th:if="${bills != null and !bills.empty}">
                <th>Description</th>
                <th>Recipient</th>
                <th>Value</th>
                <th>Currency Accepted</th>
            </tr>
            <tr th:if="${bills != null and !bills.empty}" th:each="bil : ${bills}">
                <td><span th:text="${bil.description}">Iban</span></td>
                <td><span th:text="${bil.recipient}"> Type </span></td>
                <td><span th:text="${bil.value}"> Sold </span></td>
                <td><span th:text="${bil.accepted_currency}"> Currency </span></td>
            </tr>
        </table>
    </div>

    <div class="w3-container w3-padding-large">
        <form name="myForm" id="register-form" role="form" onsubmit="return checkInp()" autocomplete="off"
              class="form" method="post"
              th:object="${addBillsForm}">
            <div>
                <h2>Enter the number of bills you want to generate for this user:</h2>                 <label>
                    <p>
                        <input align="right" class="w3-input w3-border w3-round" type="text" th:field="*{number}"
                               name="value"
                               placeholder="Number of bills">
                        <span th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Amount Error</span>
                    </p>
                </label>
            </span>
            </div>
            <div class="container-login100-form-btn">
                <p>
                    <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
                        Generate bills!
                    </button>
                </p>
            </div>

            <span th:if="${logError == 'logError'}"><br>Number of bills to be generated can`t be empty</span>

        </form>
    </div>
</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>

</body>
</html>
